body {
  max-width: 900px;
  margin: auto;
}

.alert {
  position: fixed;
  bottom: 10px;
  width: 100%;
  max-width: 900px;
}

.insert-colors {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 5px;
}
