body {
  max-width: 900px;
  margin: auto;
}

.alert {
  position: fixed;
  bottom: 10px;
  width: 100%;
  max-width: 900px;
}

.insert-colors {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 5px;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .insert-colors {
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media screen and (min-width: 800px) {
  .insert-colors {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
}
